<form class="form-horizontal" >
  <%if(type == "edit"){%>
  <input type="hidden" name="email" class="form-control" placeholder="邮寄,用于登陆" value=<%=email || ''%>>
  <%}else{%>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">邮箱</label>
    <div class="col-sm-10">
      <input type="text" name="email" class="form-control" placeholder="邮寄,用于登陆" value=<%=email || ''%>>
    </div>
  </div>
  <%}%>
  <% if(users){ %>
  <div class="form-group">
    <label for="_agentId" class="col-sm-2 control-label">代理商</label>
    <div class="col-sm-10">
      <select class="form-control" name="_agentId">
        <% for(var i=0,len=users.length;i<len;i++){ %>
        <option value=<%=users[i]._id%> <%if(_agentId == users[i]._id){%>selected<%}%>><%=users[i].name%></option>
        <% } %>
      </select>
    </div>
  </div>
  <% } %>
  <div class="form-group">
    <label for="location" class="col-sm-2 control-label">地理位置</label>
    <div class="col-sm-10">
      <div id="distpicker" data-toggle="distpicker">
        <div class="form-group col-sm-2">
          <select name="province" class="form-control" data-province=<%=province || '---- 选择省 ----'%>></select>
        </div>
        <div class="form-group col-sm-2" style="margin-left:10px">
          <select name="city" class="form-control" data-city=<%=city || "---- 选择市 ----"%>></select>
        </div>
        <div class="form-group col-sm-2" style="margin-left:10px">
          <select name="district" class="form-control" data-district=<%=district || "---- 选择区 ----"%>></select>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">用户名</label>
    <div class="col-sm-10">
      <input type="text" name="name" class="form-control" placeholder="用户名" value=<%= name||'' %>>
    </div>
  </div>
  <div class="form-group">
    <label for="company" class="col-sm-2 control-label">公司</label>
    <div class="col-sm-10">
      <input type="text" name="company" class="form-control" placeholder="公司" value=<%= company||''%>>
    </div>
  </div>
  <div class="form-group">
    <label for="mailAddress" class="col-sm-2 control-label">邮寄地址</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="mailAddress" placeholder="邮寄地址" value=<%= mailAddress|| '' %>>
    </div>
  </div>
  <div class="form-group">
    <label for="qq" class="col-sm-2 control-label">QQ</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="qq" placeholder="qq" value=<%= qq|| '' %>>
    </div>
  </div>
  <div class="form-group">
    <label for="p" class="col-sm-2 control-label">税率</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="p" placeholder="税率" value=<%= p|| '' %>>
    </div>
  </div>
  <div class="form-group">
    <label for="contacts_name" class="col-sm-2 control-label">联系人</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="contacts_name" placeholder="联系人" value=<%= contacts[0] && contacts[0].name|| '' %>>
    </div>
  </div>
  <div class="form-group">
    <label for="contacts_phone" class="col-sm-2 control-label">电话</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="contacts_phone" placeholder="电话" value=<%= contacts[0] && contacts[0].phone|| '' %>>
    </div>
  </div>
  <div class="form-group">
    <label for="contacts_name" class="col-sm-2 control-label">备用联系人</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="contacts_name_bk" placeholder="联系人" value=<%= contacts[1] && contacts[1].name|| '' %>>
    </div>
  </div>
  <div class="form-group">
    <label for="contacts_phone" class="col-sm-2 control-label">备用电话</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="contacts_phone_bk" placeholder="电话" value=<%= contacts[1] && contacts[1].phone|| '' %>>
    </div>
  </div>
  <div class="form-group">
    <label for="bankName" class="col-sm-2 control-label">银行</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="bankName" placeholder="银行" value=<%= bankName|| '' %>>
    </div>
  </div>
  <div class="form-group">
    <label for="bankAccount" class="col-sm-2 control-label">卡号</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="bankAccount" placeholder="卡号" value=<%= bankAccount|| '' %>>
    </div>
  </div>
  <div class="form-group">
    <label for="place" class="col-sm-2 control-label">折扣</label>
    <div class="col-sm-10">
      <input type="text" name="discount" class="form-control" placeholder="0-100, 0代表免费，90代表9折" value=<%= discount|| 100%>>
    </div>
  </div>
  <div class="form-group">
    <label for="place" class="col-sm-2 control-label">优惠</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="remission" placeholder="正数代表优惠，负数代表加价,如 1代表便宜1元" value=<%= remission||0 %>>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">提交</button>
    </div>
  </div>
</form>